* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
  }
  
  html,
  body {
    height: 100%;
  
    width: 100%;
  }

  #nav {
    height: 130px;
    width: 100%;
    
    display: flex;
    align-items: center;
    padding: 0 120px;
    gap: 60px;
    position: fixed;
    justify-content: flex-start;
    z-index: 999;
  }
  #nav img {
    height: 8vw;
    background-size: cover;
  }
  #nav h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #585555;
    
  }

  video{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
  }

  #main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
  }

  #page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
   }

  #page1 h1{
    color: #b9b4b4;
    font-size: 130px;
    font-weight: 900;
    position: relative;
  }

  #page1 h1::before{
    content: "Experience";
    position: absolute;
    color: rgb(107, 97, 97);
    top: -5px;
    left: -3px;
    -webkit-text-stroke: 2px rgb(17, 14, 14);
     z-index: -1;
  }

  #page1 h2{
    color: #b9b4b4;
    font-size: 90px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #page1 h3{
    color: #b9b4b4;
    font-size: 55px;
    font-weight: 800;
  }
  #page2 {
    min-height: 100vh;
    width: 100%;
  }

  #cursor{
    height: 25px;
    width: 25px;
    background-color: #b9b4b4;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
  }

  #scroller{
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    position: relative;
    z-index: 10;
  }

  #scroller::-webkit-scrollbar {
    display: none;
  }

  #scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px rgb(69, 110, 110) ;
  }

  #scroller h4:hover{
    color: #585555;
    -webkit-text-stroke: 2px #f1ebeb;
  }

  @keyframes scroll {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }


  #about-us{
    height: 120vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 15vh;

  }
  #about-us-in h3{
    
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-size: 70px;
    font-weight: 900;

  }

  #about-us-in p{
    font-size: 40px;
    margin-left: 24%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 90px;
    font-weight: 600;
  }

  /* #about-us-i{
    height: 10vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  

  /* #about-us-img{
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  #about-us img{
    margin-top: 50px;
    height: 540px;
    width: 595px;
    margin-left: 13% ;
    border-radius: 20px;
    margin-bottom: 30px;
    object-fit: cover;
    

  }

  #cards-container{
    margin-top: 20vh;
    height: 60vh;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    position: relative;
    z-index: 10;

  }

  .card{
    height: 80%;
    width: 28%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }

  #card1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4-MsLWK0ZKMQOBQ8VBUlVbPzlDao8l-8mAqKjhV0xLLoNSag3eQaNx6oP8J72BYOR3so&usqp=CAU);
  }
  #card2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvKXaCgkvLzdLlAjTkzbpZatMBRfYNK3TvHw&usqp=CAU);
  }
  #card3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhHzzE_YVygKif-ciWmNTJtWBuLG6sR_cmRg&usqp=CAU);
  }

  .overlay{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
  }

  .overlay h4{
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
  }

  .overlay p{
    color: #000;
    font-size: 18px;
  }

  .card:hover .overlay{
    opacity: 1;

  }
.card:hover{
  transform: rotate3d(-2, -1, 0, 20deg);
}